#sky 
{
    background: linear-gradient(yellow, orange);
   // background-color: #b0c4de;
    width: auto;
    //max-width: 900px;
    height: 350px;
}

#land
{
    background-color: YELLOW;
    width: auto;
    height: 500px;
}
#sun
{
    float:left;
}

body
{
    //max-width: 1000px;
    width: auto;
    margin: 3% 100px;
    //text-align: center;
    //background-color: orange;
    background: linear-gradient(orange, yellow);
}

object
{
    float:right;
}

#navigation ul
{
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
}

#navigation li
{
    float:left;
}

#navigation a:link, a:visited
{
   display:block;
   width:120px;
   font-weight:bold;
   color:BLACK;
   text-align:center;
   padding:4px;
   text-decoration:none;
   text-transform:uppercase;
}
#navigation a:hover, a:active
{
   background-color: RED;
}
