#sky 
{
   // background: linear-gradient(yellow, orange);
   // background-color: #b0c4de;
    width: auto;
    //max-width: 900px;
    height: 350px;
}

#land
{
    background-color: YELLOW;
    width: auto;
    height: 500px;
}
#sun
{
    float:left;
}

html
{
   background-color: #033E6B;
}

body
{   
    border-radius: 25px;
    height: 700px;
    //max-width: 1000px;
    width: auto;
    margin: 3% 100px;
    padding: 30px;
    //text-align: center;
    //background-color: orange;
    background: linear-gradient(#FF9200, #FFC373);
}

object
{
    float:right;
}


#navigation ul
{ 
   border-radius:5px;
   float:left;
   background:#FFC373;
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
}

#navigation li
{
    float:left;
}

#navigation a:link, a:visited
{
   display:block;
   width:140px;
   font-weight:bold;
   color:BLACK;
   text-align:center;
   padding:4px;
   text-decoration:none;
   text-transform:uppercase;
}
#navigation a:hover, a:active
{
   background-color: #66A3D2;
}
