#sky 
{
    background: linear-gradient(yellow, orange);
   // background-color: #b0c4de;
    width: auto;
    //max-width: 900px;
    height: 350px;
}

#land
{
    background-color: YELLOW;
    width: auto;
    height: 500px;
}
#sun
{
    float:left;
}

body
{
    //max-width: 1000px;
    width: auto;
    margin: 3% 100px;
    //text-align: center;
    //background-color: orange;
    background: linear-gradient(orange, yellow);
}

object
{
    float:right;
}